.Cell {
  height: 100px;
  width: 100px;
  background-color: hsl(220, 70%, 20%);
  cursor: pointer;
  margin:5px;
}

.Cell:hover{
  background-color: hsl(220,70%,30%);
  box-shadow: 0px 0px 10px 0px hsl(220deg 70% 70%);
}

.Cell-lit {
  background-color: hsl(220, 70%, 70%);
  box-shadow: 0px 0px 30px 0px hsl(220deg 70% 70%);
  
}

.Cell-lit:hover{
  background-color: hsl(220,70%, 60%);
  box-shadow: 0px 0px 40px 0px hsl(220deg 70% 70%);
}